    <footer>
        <div class="footer-wrapper">
            <div class="row">
                <p>Copyright ©<%= new Date().getFullYear() %> whatsmygrade</p>
            </div>
            <div class="row">
                <div class="footer-box">
                    <% if (loggedInUser){ %>
                        <a href="/user/edit">Edit Account</a>
                    <%}else{ %>
                        <a class="nav-text" href="/user/login">Log In</a>
                    <% } %>
                </div>
                <div class="footer-box">
                    <a href="#">Contact Me</a>
                </div>
            </div>
            <div class="row">
                <div class="footer-box">
                    <a href="/courses">My Courses</a>
                </div>
                <div class="footer-box">
                    <a href="#">About Me</a>
                </div>
            </div>
            <div class="row">
                <div class="footer-box">
                    <a href="/">Home</a>
                </div>
                <div class="footer-box">
                    <a target="_blank" href="http://manuelc.me/">Other Projects</a>
                </div>
            </div>
        </footer-wrapper>
    </footer>
        
        
        
        
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>
    </body>
</html>