<% include ../partials/header %>

<h1>Log in or register my man!</h1>

<form action="/user/register" method="POST">
    <input type="text" name="firstName" placeholder="First Name">
    <input type="text" name="email" placeholder="Email">
    <input type="text" name="username" placeholder="Username">
    <input type="Password" name="password" placeholder="Password">
    <button>Submit</button>
</form>

<form action="/user/login" method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="Password" name="password" placeholder="Password">
    <button>login</button>
</form>

<% include ../partials/footer %>