<% include ../partials/header %>

<section class="hero">
    <h2>Track Your Grades.</h2>
    <h3>Calculate your grade with visuals</h3>
    <a href="/user/login">
        <button>
            Try It Out!
        </button>
    </a>
    
</section>

<% include ../partials/footer %>