<% include ../partials/header %>

<section class="hero">
    <h2>Track Your Grades.</h2>
    <h3>Calculate your grade with visuals</h3>
    <button>
        <a href="/user/login">Try It Out!</a>
    </button>
</section>

<% include ../partials/footer %>