<% include ../partials/header %>

<section class="hero">
    <h1 class="hero-text">
        <span class="hero-text-primary">Track Your Grades</span>
        <span class="hero-text-secondary">Calculate and watch how they grow over time</span>
    </h1>
    <a  href="/user/login">
        <button class="hero-btn">
            Get Started!
        </button>
    </a>
    
</section>

<% include ../partials/footer %>