/* Global Styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 2.6rem;
}
li,button,label,input,p{
    font-size: 2rem;
}
h2{
    font-size: 4.8rem;
}
h3{
    font-size: 3rem;
    font-weight: normal;
}
h4,h5{
    font-size: 2.8rem;
}
a{
    color:white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

button{
    padding: 1.5rem 5rem;
    background: #4c6e97;
    border: none;
    color:white;
    font-size: 1.8rem;
    cursor: pointer;
    border-radius: 15px;
}


/* Nav Section */
.main-head{
    background-color: #131c27;
    color:white;
}
nav{
    min-height: 10vh;
    padding: 1.5rem;;
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
}

nav ul{
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    list-style: none;
}

.row{
    display: flex;    
    flex-wrap: wrap;
}

.col-half{
    min-width: 50%;
    flex-grow: 1;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#logo{
    flex: 2 1 46rem;
    font-family: 'Pattaya', sans-serif;
    font-weight: 400;
}

.hero{
    min-height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.753),transparent),url('../Photos/Backgrounds/Backpack.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: zoomAnim 120.5s infinite ease-in-out alternate-reverse;
}
.hero h3{
    padding: 2.5rem;
}

.hero h2, .hero h3{
    text-shadow: -1px 1px 2rem black, -1px 1px 1rem black;
}

/* Forms */
#user-forms{
    min-height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.753),transparent), url('../Photos/Backgrounds/College.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.form-wrapper{
    background: rgba(0, 0, 0, 0.404);
    color: white;
    border-radius: 20px;
    flex-basis: 60rem;
    margin: 4rem 2rem;
}

.form-head{
    text-align: center;
    padding: 4rem;
}

.name-form, .email-form{
    padding: 3rem;
    text-align: center;
}
.form-wrapper label{
    margin: 0rem 3rem;
}
.form-wrapper .submit-btn{
    width: 100%;
    padding: 2rem;
    margin-top: 3rem;
    border-radius: 0px 0px 20px 20px;
}

.new-grade-submit.submit-btn {
    width: 100%;
    padding: 2rem;
    margin-top: 3rem;
    border-radius: 0px 0px 7px 7px;
}

.form-wrapper input{
    padding: 1rem 3rem;
}

#colorViewer{
    margin-top: 2rem;
    border-radius: 20px;
}


/* Course List */
.container{
    width: 90%;
    margin: auto;
}

.circle-btn{
    border-radius: 50px;
    padding: 0rem 1.3rem;
    font-size: 4.5rem;
    cursor: pointer;
    border: 2px #131c27 solid;
    box-shadow: -1px 5px 10px rgba(0, 0, 0, 0.198), -2px 10px 20px rgba(0, 0, 0, 0.349);
}
.add-btn{
    margin: 4rem 0 1rem 4rem;
    
}
.delete-btn{
    height: 7rem;
    width: 7rem;
    margin: 2rem 0 0 2rem

}
.delete-btn i{
    font-size: 3.5rem;
}

.course-list-head{
    background-color: #047ef867;
    border-radius: 0 0 20px 20px;
    border-bottom: black 2px solid;
    color: white;
    padding: 1rem 3rem;
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.course-Cards{
    width: 90%;
    margin: auto;
    display: flex;
    min-height: 50vh;
    align-items: center;
    flex-wrap: wrap;;
}

.course-Card{
    border: #131c27 solid 3px;
    border-radius: 10px;
    flex: 1 1 25rem;
    min-height: 11vh;
    margin: 2rem 4rem;
    box-shadow: -1.5px 10px 10px rgba(0, 0, 0, 0.198), -3px 20px 20px rgba(0, 0, 0, 0.349);
    text-align: center;
    background-color: #047ef848
}

.course-Card h4{
    padding: 2rem 0;
}

.card-top{
    border-radius: 7px;
}

.card-top h3{
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.411);
}

.course-card-footer{
    background-color: rgba(0, 0, 0, 0.164);
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
    min-height: 2rem;
    border-radius: 7px;
}

.course-card-footer a{
    font-size: 2rem;
    display: flex;
    flex: 1 1 1rem;
    justify-content: space-around;
}

.course-card-footer a:hover{
    background-color: rgba(0, 0, 0, 0.349);
}

.course-show-head{
    background-color: #047ef848;
    border-radius: 0 0 20px 20px;
    border-bottom: black 2px solid;
    color: white;
    padding: 0.5rem 3rem;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grade{
    border: black 2px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #131c277a;
    border-radius: 10px;
    margin-bottom: 2rem;
}
.add-grade{
    border: black 2px solid;
    align-items: center;
    text-align: center;
    background-color: #131c277a;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.grade-title, .grade-category, .grade-score, .grade-percentage, .grade-edit{
    flex-grow: 1;
    flex-basis: 20rem;
    color: white;
    font-size: 3rem;
    
}
.newGrade-title{
    color: white;
    font-size: 3rem;
    cursor: pointer;
}

.newGrade-subtitle{
    color: white;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.grade-edit a{
    font-size: 2rem;
    display: block;
}
.right-half-col{
    text-align: left;
}
.left-half-col{
    text-align: right;
    padding-right: 1rem;
}

#add-grade-accordian{
    display: none;
}
#add-category-accordian{
    display: none;
}



@media screen and (max-width:507px){
    #colorPickerCanvas{
        height: 50px;
        width: 365px;
    }
}


@media only screen and (max-width:988px){
    html{
        font-size: 90%;
    }
    nav {
        text-align: center;
    }
    #logo{
        padding: 0.5rem 0.5rem 1.5rem 0.5rem;
    }
}

@keyframes zoomAnim{
    50%{
        background-size: 200%;
    }
    100%{
        background-size: 100%;
    }
}
