
<form action="/courses/<%= course._id %>/grade/new" method="POST">
    <input type="text" name="grade[name]" placeholder="name">
    <input type="text" name="grade[category]" placeholder="category">
    <button>Submit</button>
</form>