<% include ../partials/header %>


<section id="user-forms">
    <div class="form-wrapper">
        <header class='form-head'>
            <h2>Add A Course!</h2>
        </header>
        <form action="/courses/new" method="POST">
            <div style="text-align: center;" class="">
                <p id="inputHelp"></p>
            </div>
            <div class="form-row">
                <div class="left-form-box">
                    <label for="name">Course Name: </label>
                </div>
                <div class="right-form-box">
                    <input onfocus="showNameHint(this)" class="under-line-input" type="text" name="course[name]" placeholder="Course name" required>
                </div>
            </div>


            <div class="form-row">
                <div class="left-form-box">
                    <label for="color">Click a Color: </label>
                </div>
                <div class="right-form-box">

                </div>
            </div>
            <div class="row">
                <div class="slidecontainer">
                    <input style="display: none;" id="courseColorInput" type="text" name="course[color]" placeholder="Course color">
                    <input oninput="UpdateColor(this)" type="range" min="120" max="255" value="171" class="slider" id="redSlider">
                    <input oninput="UpdateColor(this)" type="range" min="120" max="255" value="250" class="slider" id="greenSlider">
                    <input oninput="UpdateColor(this)" type="range" min="120" max="255" value="230" class="slider" id="blueSlider">
                </div>
            </div>
            <div class="row">
                <div style="background-color: rgb(171, 250, 230);" id="colorViewer"></div>
            </div>

            <button class="submit-btn" type="submit">Create!</button>
        </form>
    </div>
</section>

<script src="/scripts/chosingAColor.js"></script>


<!-- Script for adding the help messages on inputs -->
<script>
    //hints
    let inputHelp = document.getElementById("inputHelp");

    function showNameHint(x) {
        inputHelp.style.display = "block"
        inputHelp.innerText = "Must be at least 1 character."
    }

</script>

<% include ../partials/footer %>