<% include ../partials/header %>


<section id="user-forms">
    <div class="form-wrapper">
        <header class='form-head'>
            <h2>Add A Course!</h2>
        </header>
        <form action="/courses/new" method="POST">
            <div style="text-align: center;" class="">
                <p id="inputHelp"></p>
            </div>
            <div class="form-row">
                <div class="left-form-box">
                    <label for="name">Course Name: </label>
                </div>
                <div class="right-form-box">
                    <input onfocus="showNameHint(this)" class="under-line-input" type="text" name="course[name]" placeholder="Course name" required>
                </div>
            </div>


            <div class="form-row">
                <div class="left-form-box">
                    <label for="color">Click a Color: </label>
                </div>
                <div class="right-form-box">

                </div>
            </div>
            <div class="row">
                <div class="">
                    <input id="courseColorInput" type="text" name="course[color]" placeholder="Course color" style="display: none;">
                    <canvas id="colorPickerCanvas"></canvas>
                </div>
            </div>
            <div class="row">
                <div id="colorViewer"></div>
            </div>

            <button class="submit-btn" type="submit">Create!</button>
        </form>
    </div>
</section>

<!-- Script for choosing a color from the pallet -->
<script>
    var canvas = document.getElementById("colorPickerCanvas");
    
    function getElementPosition(obj) {
        var curleft = 0, curtop = 0;
        if (obj.offsetParent) {
            do {
                curleft += obj.offsetLeft;
                curtop += obj.offsetTop;
            } while (obj = obj.offsetParent);
            return { x: curleft, y: curtop };
        }
        return undefined;
    }

    function getEventLocation(element, event) {
        var pos = getElementPosition(element);

        return {
            x: (event.pageX - pos.x),
            y: (event.pageY - pos.y)
        };
    }

    function rgbToHex(r, g, b) {
        if (r > 255 || g > 255 || b > 255)
            throw "Invalid color component";
        return ((r << 16) | (g << 8) | b).toString(16);
    }

    function drawImageFromWebUrl(sourceurl) {
        var img = new Image();
        img.crossOrigin = "Anonymous";

        img.addEventListener("load", function () {
            // The image can be drawn from any source
            canvas.width = img.width * 1.2;
            canvas.height = img.height * 1.2;
            canvas.getContext("2d").drawImage(img, 1, 0, img.width, img.height, 0, 0, canvas.width, canvas.height);
        });

        img.setAttribute("src", sourceurl);
    }
    // Draw a base64 image because this is a fiddle, and if we try with an image from URL we'll get tainted canvas error
    // Read more about here : http://ourcodeworld.com/articles/read/182/the-canvas-has-been-tainted-by-cross-origin-data-and-tainted-canvases-may-not-be-exported
    drawImageFromWebUrl("https://res.cloudinary.com/clubphotos/image/upload/v1576562609/Light_Colors.png");

    canvas.addEventListener("click", function (e) {
        var eventLocation = getEventLocation(this, e);
        var coord = "x=" + eventLocation.x + ", y=" + eventLocation.y;

        // Get the data of the pixel according to the location generate by the getEventLocation function
        var context = this.getContext('2d');
        var pixelData = context.getImageData(eventLocation.x, eventLocation.y, 1, 1).data;

        // If transparency on the image
        if ((pixelData[0] == 0) && (pixelData[1] == 0) && (pixelData[2] == 0) && (pixelData[3] == 0)) {
            coord += " (Transparent color detected, cannot be converted to HEX)";
        }

        var hex = "#" + ("000000" + rgbToHex(pixelData[0], pixelData[1], pixelData[2])).slice(-6);

        // Draw the color and coordinates.
        document.getElementById("colorViewer").style.backgroundColor = hex;
        document.getElementById("courseColorInput").value = hex;

    }, false);
</script>

<!-- Script for adding the help messages on inputs -->
<script>
    //hints
    let inputHelp = document.getElementById("inputHelp");

    function showNameHint(x) {
        inputHelp.style.display = "block"
        inputHelp.innerText = "Must be at least 1 character."
    }

</script>

<% include ../partials/footer %>