<% include ../partials/header %>

<form action="/courses/new" method="POST">
    <input required type="text" name="course[name]" placeholder="Course name">
    <input required type="text" name="course[color]" placeholder="Course color">
    <button>submit</button>
</form>

<% include ../partials/footer %>